<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Ricerca <i class="fa fa-search"></i></h3>
    </div>
</div>
<kendo-grid [data]="dataSearch" [pageSize]="stateGridSearch.take" 
            [skip]="stateGridSearch.skip" [sort]="stateGridSearch.sort" 
            [filter]="stateGridSearch.filter"
            [group]="stateGridSearch.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="lastOperatorColor" [sortable]="false" [filterable]="false" title=" " class="operator-color">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div [style.background-color]="dataItem.lastOperatorColor">&nbsp;</div>
        </ng-template>>
    </kendo-grid-column>
    <kendo-grid-column field="jobDate" title="Data richiesta" filter="date" format="{0:d}"></kendo-grid-column>
    <kendo-grid-column field="code" title="Progr."></kendo-grid-column>
    <kendo-grid-column field="customerName" title="Cliente">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.customer.alert">{{dataItem.customerName}}</div>
            <div *ngIf="dataItem.customer.alert" class="customer-alert">
                {{dataItem.customerName}}<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customer.telephone" title="Telefono"></kendo-grid-column>
    <kendo-grid-column field="customerFullAddress" title="Indirizzo"></kendo-grid-column>
    <kendo-grid-column field="productType.name" title="Categoria"></kendo-grid-column>
    <kendo-grid-column field="status" title="Stato">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.status | jobStatus}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastQuotation" title="Ultimo Prev." [filterable]="false" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.lastQuotation | quotationStatus}}<br/>
            {{dataItem.lastQuotationDate | date : "dd/MM/yyyy"}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastOrder" title="Ultimo Ordine" [filterable]="false" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.lastOrder | orderStatus}}<br/>
            {{dataItem.lastOrderDate | date : "dd/MM/yyyy"}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="lastActivity" title="Ultimo Interv." [filterable]="false" [sortable]="false">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div>{{dataItem.lastActivity | activityStatus}}<br/>
            {{dataItem.lastActivityDate | date : "dd/MM/yyyy HH:mm"}}<br/>
            {{dataItem.lastActivityOperator}}</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="number" [sortable]="false" [filterable]="false" title=" ">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div class="d-flex flex-wrap gap-1 justify-content-center" style="width:110px">
                <button class="btn btn-primary btn-sm grid-action-button" title="Note" (click)="viewLastNote(dataItem)">
                    <i class="fas fa-book"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Visualizza Interventi" (click)="viewJobActivities(dataItem.id)">
                    <i class="fas fa-calendar-days"></i>
                </button>
                <button class="btn btn-primary btn-sm" title="Modifica" (click)="editJob(dataItem)">
                    <i class="fas fa-edit"></i>
                </button>
            </div>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<app-job-modal #jobModal></app-job-modal>
<app-notes-modal notesType="job-active" #notesModal></app-notes-modal>
<app-note-modal #noteModal></app-note-modal>
<app-job-activities-modal #jobActivitiesModal></app-job-activities-modal>