<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [width]="850" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">Allegato</div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateAttachmentForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options">
            <div class="row form-group">
                <div class="col-md-8">
                    <kendo-formfield class="form-group">
                        <label>Nome file</label>
                        <kendo-textbox [(ngModel)]="options.displayName" name="description" required></kendo-textbox>
                        <kendo-formerror>Nome file è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-12">
                    <kendo-formfield class="form-group">
                        <label>Percorso</label>
                        <kendo-textbox [(ngModel)]="options.fileName" name="description" required></kendo-textbox>
                        <kendo-formerror>Percorso è il campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>