<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [width]="850" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">Intervento</div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options">
            <div class="row form-group">
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Operatore inserimento</label>
                        <kendo-combobox [data]="operators" 
                            [(ngModel)]="options.operatorId" 
                            name="operatorId"
                            suggest="true"
                            [disabled]="options.id != null"
                            textField="description"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Operatore è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Data inizio</label>
                        <kendo-datepicker [disabled]="options.id != null" name="start" [(ngModel)]="options.start" required></kendo-datepicker>
                        <kendo-formerror>Data inizio è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Data fine</label>
                        <kendo-datepicker [disabled]="options.id != null" name="end" [(ngModel)]="options.end" required></kendo-datepicker>
                        <kendo-formerror>Data fine è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8">
                    <kendo-formfield>
                        <label>Richiesta</label>
                        <kendo-combobox [data]="jobs" 
                            [(ngModel)]="options.jobId" 
                            name="jobId"
                            suggest="true"
                            [disabled]="options.id != null"
                            textField="fullDescription"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Richiesta è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div *ngIf="options.id != null" class="col-md-4">
                    <label>&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" title="Note" (click)="viewNotes()">
                            <i class="fa fa-edit"></i> Note
                        </button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div *ngIf="options.id != null" class="col-md-4">
                    <kendo-formfield>
                        <label>Stato</label>
                        <kendo-combobox [data]="states"
                            [(ngModel)]="options.status" 
                            name="status"
                            suggest="true"
                            textField="name"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Stato è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-notes-modal notesType="activity" #notesModal></app-notes-modal>