<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">Intervento</div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" class="calendarModal"
            *ngIf="options">
            <div class="row">
                <div class="col-md-10">
                    {{options.jobCode}} - 
                    {{options.customerName}}
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" title="Modifica Richiesta" (click)="editJob()">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{options.jobDescription}}
                </div>
                <div class="col-md-12">
                    <hr/>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Operatore</label>
                        <kendo-combobox [data]="operators" [(ngModel)]="options.operatorId" name="operatorId"
                            suggest="true" textField="description"
                            [valuePrimitive]="true" valueField="id" required>
                        </kendo-combobox>
                        <kendo-formerror>Operatore è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Data inizio</label>
                        <kendo-datetimepicker  name="start" [(ngModel)]="options.start"
                            required format="dd/MM/yyyy HH:mm" [steps]="{minute:15}"></kendo-datetimepicker>
                        <kendo-formerror>Data inizio è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Data fine</label>
                        <kendo-datetimepicker  name="end" [(ngModel)]="options.end"
                            required format="dd/MM/yyyy HH:mm" [steps]="{minute:15}" [min]="options.start"></kendo-datetimepicker>
                        <kendo-formerror>Data fine non valido</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8">
                    <kendo-formfield>
                        <label>Richiesta</label>
                        <kendo-combobox [data]="jobsFiltered" [(ngModel)]="options.jobId" name="jobId" suggest="true"
                            [disabled]="options.jobCode != null" textField="fullDescription" [valuePrimitive]="true"
                            [filterable]="true" (filterChange)="handleFilter($event)"
                            valueField="id" required>
                        </kendo-combobox>
                        <kendo-formerror>Richiesta è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div *ngIf="options.id != null" class="col-md-4">
                    <label>&nbsp;</label>
                    <div>
                        <button type="button" class="btn btn-primary" title="Note" (click)="viewNotes()">
                            <i class="fa fa-edit"></i> Note
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <kendo-formfield class="form-group">
                        <label>Descrizione</label>
                        <kendo-textarea [(ngModel)]="options.description" name="description"></kendo-textarea>
                    </kendo-formfield>
                </div>
                <div *ngIf="options.id != null" class="col-md-4">
                    <kendo-formfield>
                        <label>Stato</label>
                        <kendo-dropdownlist [data]="states" [(ngModel)]="options.status" name="status"
                            [valuePrimitive]="true" required>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{dataItem | activityStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{dataItem | activityStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <kendo-formerror>Stato è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button *ngIf="options.id != null" type="button" class="btn btn-primary me-2" title="Copia" (click)="copyActivity()">
                    <i class="fa fa-copy"></i> Duplica
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-notes-modal notesType="activity" #notesModal></app-notes-modal>
<app-copy-activity-modal #copyActivityModal></app-copy-activity-modal>
<app-job-modal #jobModal></app-job-modal>
