<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3 *ngIf="jobType == 'acceptance'">Richieste</h3>
        <h3 *ngIf="jobType == 'active'">In lavorazione</h3>
        <h3 *ngIf="jobType == 'billed'">Contabilizzati</h3>
    </div>
    <div class="col-auto">
        <button (click)="createJob()" class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>
<kendo-grid [data]="dataJobs" [pageSize]="stateGridJobs.take" 
            [skip]="stateGridJobs.skip" [sort]="stateGridJobs.sort" 
            [filter]="stateGridJobs.filter"
            [group]="stateGridJobs.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="expired" [sortable]="false" [filterable]="false" title=" ">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.expired" class="job-active">&nbsp;</div>
            <div *ngIf="dataItem.expired" class="job-expired">&nbsp;</div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="createdOn" title="Data richiesta" filter="date" format="{0:d}"></kendo-grid-column>
    <kendo-grid-column field="code" title="Progr."></kendo-grid-column>
    <kendo-grid-column field="customer.name" title="Cliente">
        <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="!dataItem.customer.alert">{{dataItem.customer.customerDescription}}</div>
            <div *ngIf="dataItem.customer.alert" class="customer-alert">
                {{dataItem.customer.customerDescription}} <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            </div>
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="customerAddress.fullAddress" title="Indirizzo"></kendo-grid-column>
    <kendo-grid-column field="productType.name" title="Categoria"></kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione"></kendo-grid-column>
    <kendo-grid-column field="status" title="Stato">
        <ng-template kendoGridCellTemplate let-dataItem>
            {{dataItem.status | jobStatus}}
        </ng-template>
    </kendo-grid-column>
    <kendo-grid-column field="number" [sortable]="false" [filterable]="false" title=" ">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button class="btn btn-primary btn-sm grid-action-button" title="Note" (click)="viewNotes(dataItem)">
                <i class="fas fa-sticky-note"></i>
            </button>
            <button class="btn btn-primary btn-sm grid-action-button" title="Modifica" (click)="editJob(dataItem)">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-primary btn-sm grid-action-button" title="Genera preventivo">
                <i class="fas fa-hand-paper"></i>
            </button>
            <button class="btn btn-primary btn-sm grid-action-button" title="Ordine fornitore">
                <i class="fas fa-ticket"></i>
            </button>
            <button class="btn btn-primary btn-sm grid-action-button" title="Genera intervento">
                <i class="fas fa-bolt"></i>
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<app-job-modal #jobModal></app-job-modal>
<app-notes-modal notesType="job" #notesModal></app-notes-modal>