<kendo-scheduler
      [kendoSchedulerBinding]="calendar.activities"
      [selectedDate]="selectedDate"
      [resources]="calendar.resourcesSettings"
      startTime="09:00"
      endTime="19:30"
      class="calendar-interventi"
      [selectedViewIndex]="1"
      style="height: calc(100vh - 110px);">

      <ng-template kendoSchedulerToolbarTemplate>
          <div class="scheduler-navigazione" kendoSchedulerToolbarNavigation></div>
          <div class="scheduler-selettore-view" kendoSchedulerToolbarViewSelector></div>
          <button class="nuovo-intervento-button btn btn-primary btn-sm" (click)="aggiungiNuovoIntervento()" themeColor="primary">
            <i class="fas fa-plus"></i> NUOVO INTERVENTO
          </button>
      </ng-template>

      <ng-template
        kendoSchedulerEventTemplate
        let-event="event"
        let-resources="resources">

        <div class="operatore-title">
          <ng-container *ngFor="let resource of resources">
            <span *ngIf="!resource.length; else multipleResource">
              {{ resource.description }}
            </span>
            <ng-template #multipleResource>
              <span>{{ item.description }}</span>
            </ng-template>
          </ng-container>
        </div>
        <div class="cliente-title">{{ event.dataItem.cliente }}</div>
        <div class="commessa-title">Commessa:<br>{{ event.dataItem.commessa }}</div>
        <!-- <button (click)="test(event)">Test</button> -->
      </ng-template>

      <kendo-scheduler-day-view> </kendo-scheduler-day-view>
      <kendo-scheduler-week-view> </kendo-scheduler-week-view>
      <kendo-scheduler-month-view> </kendo-scheduler-month-view>
</kendo-scheduler>

<app-activity-modal #activityModal></app-activity-modal>