.operatore-title {
    padding-left: 5px;
}

.commessa-title {
    margin-top: 20px;
    padding-left: 5px;
}

.cliente-title {
    padding-left: 5px;
    margin-top: 2px;
    font-size: 12px !important;
}

.cliente-title-status {
    padding-left: 5px;
    margin-top: -25px;
    padding-right: 25px;
}

::ng-deep .k-event.k-selected {
    color: black!important;
    font-size: 14px;
}

.intervento-elaborato {
    /* background-image: repeating-linear-gradient(45deg, transparent, transparent 3px, rgba(254, 255, 255, 0.3) 6px, rgba(255, 255, 255, 0.3) 6px); */
    /* background-color: rgba(128, 128, 128, 0.45)!important; */

    background-image: repeating-linear-gradient(45deg, transparent, transparent 4px, #cccccc 6px, #dddddd 6px);
}

::ng-deep kendo-scheduler .k-event {
    color: black!important;
    font-size: 14px;
}

::ng-deep .calendar-interventi .k-scheduler-toolbar {
    display: block;
}

::ng-deep .calendar-interventi .k-scheduler-toolbar .scheduler-navigazione {
    float: left;
}

::ng-deep .calendar-interventi .k-scheduler-toolbar .scheduler-selettore-view {
    float: right;
}

::ng-deep .nuovo-intervento-button {
    float: right;
    margin-top: 2px;
    margin-right: 15px;
    height: 35px;
    background-color: #0257d5;
}

.calendar-icon-Ok
{
    color: #1def01;
}

.calendar-icon-Ko
{
    color: #f60404;
}

.calendar-icon
{
    position: relative;
    text-align: right;
    margin-right: 4px;
    font-size: 18px;
}
.calendar-icon-absolute
{
    position: absolute;
    right: 4px;
    font-size: 18px;
    top:-2px;
    z-index: 1;
}
