<div class="d-flex align-items-center mb-3">
    <div class="col">
        <!-- <h3 class="commesse-title">Commesse</h3> -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link job-menu-link" aria-current="page"
                        routerLink="acceptance"
                        routerLinkActive="active">
                    <div class="job-menu-title">Richieste</div>
                    <div class="blue-number bage-number">{{jobCounters.acceptance.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.acceptance.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="active"
                        routerLinkActive="active">
                    <div class="job-menu-title">In Lavorazione</div>
                    <div class="blue-number bage-number">{{jobCounters.actives.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.actives.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="desk"
                        routerLinkActive="active">
                    <div class="job-menu-title">Banco</div>
                    <div class="blue-number bage-number">{{jobCounters.desks.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.desks.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="quotations"
                        routerLinkActive="active">
                    <div class="job-menu-title">Preventivi</div>
                    <div class="blue-number bage-number">{{jobCounters.preventives.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.preventives.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="orders"
                        routerLinkActive="active">
                    <div class="job-menu-title">Ordini fornitori</div>
                    <div class="blue-number bage-number">{{jobCounters.supplierOrders.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.supplierOrders.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                routerLink="activities"
                routerLinkActive="active">
                    <div class="job-menu-title">Calendario</div>
                    <div class="blue-number bage-number">{{jobCounters.interventions.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.interventions.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="completed"
                        routerLinkActive="active">
                    <div class="job-menu-title">Conti da fare</div>
                    <div class="blue-number bage-number">{{jobCounters.completed.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.completed.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="billing"
                        routerLinkActive="active">
                    <div class="job-menu-title">Conti pronti</div>
                    <div class="blue-number bage-number">{{jobCounters.billing.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.billing.expired}}</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link job-menu-link"
                        routerLink="paid"
                        routerLinkActive="active">
                    <div class="job-menu-title">Pagati</div>
                </a>
            </li>
        </ul>
    </div>
    <!-- <div class="col-auto">
        <button class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div> -->
</div>
<router-outlet></router-outlet>