<div class="d-flex align-items-center mb-3">
    <div class="col">
        <h3>Commesse</h3>
    </div>
    <div class="col-auto">
        <button class="btn btn-primary btn-sm">
            <i class="fas fa-plus"></i>
            NUOVA
        </button>
    </div>
</div>

<kendo-grid [data]="dataJobs" [pageSize]="stateGridJobs.take" 
            [skip]="stateGridJobs.skip" [sort]="stateGridJobs.sort" 
            [filter]="stateGridJobs.filter"
            [group]="stateGridJobs.group" filterable="menu" 
            [sortable]="true" [pageable]="true" scrollable="none"
            (dataStateChange)="dataStateChange($event)">
    <kendo-grid-column field="expirationDate" title="Data commessa"></kendo-grid-column>
    <kendo-grid-column field="year" title="Num commessa"></kendo-grid-column>
    <kendo-grid-column field="customer.name" title="Cliente"></kendo-grid-column>
    <kendo-grid-column field="productType.name" title="Categoria"></kendo-grid-column>
    <kendo-grid-column field="description" title="Descrizione"></kendo-grid-column>
    <kendo-grid-column field="status" title="Stato"></kendo-grid-column>
    <kendo-grid-column field="number" [sortable]="false" [filterable]="false" title=" " [width]="95">
        <ng-template kendoGridCellTemplate let-dataItem>
            <button class="btn btn-primary btn-sm grid-action-button" title="Modifica">
                <i class="fas fa-edit"></i>
            </button>
            <button class="btn btn-primary btn-sm grid-action-button" title="Elimina">
                <i class="fas fa-trash"></i>
            </button>
        </ng-template>
    </kendo-grid-column>
</kendo-grid>
