<div class="row">
    <div class="col-md-3">
        <img src="assets/logo_collini.png" />
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-4">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/calendar"
                        routerLinkActive="active">
                    <div class="title">Calendario Interventi</div>
                    <span><i class="fa fa-3x fa-calendar-days"></i></span>
                </a>
            </div>
            <div class="col-md-4">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/search"
                        routerLinkActive="active">
                    <div class="title">Ricerca</div>
                    <span><i class="fa fa-3x fa-search"></i></span>
                </a>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/acceptance"
                        routerLinkActive="active">
                    <div class="title">Richieste</div>
                    <div class="blue-number bage-number">{{jobCounters.acceptance.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.acceptance.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/active"
                        routerLinkActive="active">
                    <div class="title">In Lavorazione</div>
                    <div class="blue-number bage-number">{{jobCounters.actives.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.actives.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/quotations"
                        routerLinkActive="active">
                    <div class="title">Preventivi</div>
                    <div class="blue-number bage-number">{{jobCounters.preventives.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.preventives.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/orders"
                        routerLinkActive="active">
                    <div class="title">Ordini fornitori</div>
                    <div class="blue-number bage-number">{{jobCounters.supplierOrders.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.supplierOrders.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                    routerLink="/jobs/activities"
                    routerLinkActive="active">
                    <div class="title">Calendar</div>
                    <div class="blue-number bage-number">{{jobCounters.interventions.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.interventions.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                    routerLink="/jobs/activities"
                    routerLinkActive="active">
                    <div class="title">Conti da fare</div>
                    <div class="blue-number bage-number">{{jobCounters.completed.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.completed.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/billing"
                        routerLinkActive="active">
                    <div class="title">Conti pronti</div>
                    <div class="blue-number bage-number">{{jobCounters.billing.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.billing.expired}}</div>
                </a>
            </div>
            <div class="col-md-3">
                <a class="btn btn-light dashboardBtn"
                        routerLink="/jobs/paid"
                        routerLinkActive="active">
                    <div class="title">Pagati</div>
                    <div class="blue-number bage-number">{{jobCounters.billing.active}}</div>
                    <div class="red-number bage-number">{{jobCounters.billing.expired}}</div>
                </a>
            </div>
        </div>
    </div>
</div>