<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">Preventivo</div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form class="k-form" name="updateQuotationForm" #form="ngForm" novalidate autocomplete="off"
            (ngSubmit)="close()" *ngIf="options" class="redimensionModal">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            {{options.jobCode}} -
                            {{options.customerName}}
                        </div>
                        <div class="col-md-12">
                            {{options.customerContacts}}
                        </div>
                        <div class="col-md-12" [innerHTML]="options.jobDescription">
                        </div>
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" title="Modifica Richiesta" (click)="editJob()">
                        <i class="fa fa-edit"></i>
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <kendo-formfield class="form-group">
                        <label>Data scadenza</label>
                        <kendo-datepicker name="expirationDate" [(ngModel)]="options.expirationDate"
                            required></kendo-datepicker>
                        <kendo-formerror>Data scadenza è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="col-md-4">
                    <kendo-formfield class="form-group">
                        <label>Stato</label>
                        <kendo-dropdownlist [data]="states" [(ngModel)]="options.status" name="status"
                            [valuePrimitive]="true" required>
                            <ng-template kendoDropDownListValueTemplate let-dataItem>
                                {{dataItem | quotationStatus}}
                            </ng-template>
                            <ng-template kendoDropDownListItemTemplate let-dataItem>
                                {{dataItem | quotationStatus}}
                            </ng-template>
                        </kendo-dropdownlist>
                        <kendo-formerror>Stato è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <kendo-formfield class="form-group">
                            <label>Allegato</label>
                            <kendo-upload [(ngModel)]="this.attachments" (success)="AttachmentExecutionSuccess($event)"
                                [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [multiple]="false"
                                name="myUpload">
                                <ng-template kendoUploadFileInfoTemplate let-files>
                                    <span *ngIf="!isUploaded">{{ files[0].name }}</span>
                                    <a [href]="CreateUrl()" target="_blank" *ngIf="isUploaded">{{ files[0].name }}</a>
                                </ng-template>
                            </kendo-upload>
                        </kendo-formfield>
                    </div>
                </div>

                <div class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" title="Note" (click)="viewLastNote()">
                            <i class="fa fa-edit"></i> Note
                        </button> <i class="fa fa-paperclip ms-2" *ngIf="options.hasNotes"></i>
                    </div>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>

<app-notes-modal notesType="job" #notesModal></app-notes-modal>
<app-note-modal #noteModal></app-note-modal>
<app-job-modal #jobModal></app-job-modal>