<div class="k-overlay" *ngIf="opened"></div>

<div class="k-window-wrapper" *ngIf="opened">
    <kendo-window (close)="dismiss()" [resizable]="false" [draggable]="false" [width]="850" [top]="30">
        <kendo-window-titlebar>
            <div class="k-window-title">Nota</div>
            <button kendoWindowCloseAction></button>
        </kendo-window-titlebar>
        <form name="updateActivityForm" #form="ngForm" novalidate autocomplete="off" (ngSubmit)="close()" *ngIf="options">
            <div class="row form-group">
                <div class="col-md-4">
                    <kendo-formfield>
                        <label>Operatore inserimento</label>
                        <kendo-combobox [data]="operators" 
                            [(ngModel)]="options.operatorId" 
                            name="operatorId"
                            suggest="true"
                            [disabled]="options.id != null"
                            textField="description"
                            [valuePrimitive]="true"
                            valueField="id"
                            required>
                        </kendo-combobox>
                        <kendo-formerror>Operatore è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
                <div *ngIf="options.id != null" class="col-md-4">
                    <label>&nbsp;</label>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" title="Note" (click)="viewAttachments()">
                            <i class="fa fa-edit"></i> Allegati
                        </button>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-8">
                    <kendo-formfield class="form-group">
                        <label>Nota</label>
                        <kendo-textarea [(ngModel)]="options.value" name="description" required></kendo-textarea>
                        <kendo-formerror>Nota è un campo obbligatorio</kendo-formerror>
                    </kendo-formfield>
                </div>
            </div>
            <div class="text-right mt-5">
                <button type="button" (click)="dismiss()" class="btn btn-secondary me-2">
                    ANNULLA
                </button>
                <button type="submit" class="btn btn-primary">
                    SALVA
                </button>
            </div>
        </form>
    </kendo-window>
</div>
<app-note-attachments-modal #notesAtachmentsModal></app-note-attachments-modal>